<% provide(:title, 'RSVP') %>
<h3 class='wordWeddingWrapper'>
  RSVP Form  <br />
  
  
  

 <br />
  Maybe ask for the name on the invitations?<br />
  Ask how many invites are coming from the invitations?<br />
  How many +1's are coming? (like a family of 4 invities might being 2 extras) <br />
  Ask if/what they plan on doing extra for the wedding? (dressing up and/or fighting/ w/e events might be happening)<br />
  Are they planning to stay local or at all? (overnight?) <br />
</h3>

<br />

<p>
    <div class='wordWeddingWrapper'>
        
        
        <%= form_tag :acion => "create" do %>
            
            Name: <%=text_field "invitee", "name_on_invite" %>&#x00A;
            <br />
            Invitees Present <%=text_field "invitee", "invitees_present" %>&#x00A;
            <br />
            How many plus ones will be joining?: <%=text_field "invitee", "plus_ones" %>&#x00A;
            <br />
            Will you be dressed in garb?: <%=text_field "invitee", "dressed_in_garb" %>&#x00A;
            <br />
            Phone: <%=text_field "invitee", "phone" %>&#x00A;
            <br />
            Email: <%=text_field "invitee", "email" %>&#x00A;
            <br />
            
            <%= submit_tag "Submit" %>
            <% end %>
        
        
        <!--
        <form id='signup'>
            
            <br />
            <label for='name'>Name</label>
            <input type='text' name='name'>
            <br />
            
            <label for='invitees_present'>How many members listed on the invite will be coming?</label>
            <input type='text' name='invitees_present'>
            <br />
            
            <label for='plus_ones'>How many "Plus Ones" are you bringing?</label>
            <input type='text' name='pluse_ones'>
            <br />
            
            <label for='dressed_in_garb'>I will be dressed in garb</label>
            <input type='checkbox' name='dressed_in_garb'>
            <br />
            
            <label for='name'>Phone</label>
            <input type='text' name='phone'>
            <br />
            
            <label for='name'>Email</label>
            <input type='text' name='email'>
            <br />
            
            <input type='submit' name='Submit' value='Submit'>
            
            
            
        </form> -->
    </div>
    
</p>