<% provide(:title, 'RSVP') %>
<h3 class='wordWeddingWrapper'> RSVP Form </h3>
<br />
  <p class='wordWeddingWrapper'>
    Please RSVP here:<br />
        Put your name from the invatation.<br />
        Your Phone Number.<br />
        Your email.<br />
        The NUMBER of people joining from the invatation.<br />
        If you are wearing garb or not (Yes or No).<br />
        How many extra people you are bringing with.<br />
        <br />

        

        <div class='wordWeddingWrapper'>
        <%= form_tag('/invitee', :method=>'post') do -%>
        
        Name: <%= text_field_tag "name_on_invite" %>
        <br />
        
        Email: <%= text_field_tag"email" %>
        <br />
        
        <!-- telephone_field_tag -->
        Phone: <%= text_field_tag "phone" %>
        <br />
        
        <!-- number_field_tag -->
        Invitees Present <%= text_field_tag "invitees_present" %>
        <br />
        
        Will you be dressed in garb?: <%= text_field_tag "dressed_in_garb" %>
        <br />
        
        <!-- number_field_tag -->
        How many plus ones will be joining?: <%= text_field_tag "plus_ones" %>
        <br />
        
        <%= submit_tag "Submit" %> 
    <% end -%>