<% provide(:title, 'ADMIN') %>
<h3 class='wordWeddingWrapper'> Invitee </h3>


<ul class="wordWeddingWrapper">
<table>
    <tr>
        <td>name</td>
        <td>invitees present</td>
        <td>plus ones</td>
        <td>dressed in garb</td>
        <td>phone</td>
        <td>email</td>
        <td>remove invitee</td>
    </tr>
    

    
  <% @invitee.each do |invitee| %>

    <tr>
      
    <td>
      <%= link_to invitee.id, invitee %>
    </td>

    <td>
      <%= link_to invitee.name_on_invite, invitee %>
    </td>
    
    <td>
      <%= link_to invitee.invitees_present, invitee %>
    </td>
    
    <td>
      <%= link_to invitee.plus_ones, invitee %>
    </td>
    
    <td>
      <%= link_to invitee.dressed_in_garb, invitee %>
    </td>
    
    <td>
      <%= link_to invitee.phone, invitee %>
    </td>
    
    <td>
      <%= link_to invitee.email, invitee %>
    </td>
    
    <!-- DELETE PROBLEM HERE - deleting wrong ID - only the first display is deleted -->
    <td>
        <%= @id = invitee.id =%>
        <%= link_to @id, "admin", method: "destroy", data: { confirm: "you sure?" } %>
        
        
        
        
        <!--      RIGHT HERE  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^      
         <%= link_to "delete", @invitee.find_by(params[:invitee]), method: "destroy", data: { confirm: "you sure?" } %>
                                              WORKING LINE          -->
        <!-- <%= @id = invitee.id =%>
        <%= link_to "delete", @invitee.find_by(params[@id]), method: "destroy", data: { confirm: "you sure?" } %> 
        Deletes only first record   -->
        
        <!--
        <%= @id = invitee.id =%>
        <%= link_to @id, method: "destroy", data: { confirm: "you sure?" } %>
        Shows proper id associated w/ record, but can't delete  - link in lower left shows the controller method (on webpage)-->
        
        
        
        
    </td>
    
    </tr>
    
    <br />
    
  <% end %>
  
</table>
