<!-- Sidebar -->
<aside id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%= link_to "The Wedding Event", root_path %></li>
    <li><%= link_to "Directions", directions_path %></li>
    <li><%= link_to "RSVP", response_path %></li>
    <li><%= link_to "Schedule", schedule_path %></li>
    <li><%= link_to "Garb", garb_path %></li>
    <li><%= link_to "Event Food", food_path %></li>
    <li><%= link_to "Wedding Party", party_path %></li>
    <li><%= link_to "Where Should You Stay", stay_path %></li>
    <li><%= link_to "Who Can You Contact", contact_path %></li>
  </ul>
</aside>