<!-- Sidebar -->
<aside id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <!-- class="sidebar-brand" -->  <!-- This is for making it pop up top. I changed the css for this.--> 
    <li class="sidebar-brand"><%= link_to "Home Page", root_path %></li>
    <li><%= link_to "Directions", directions_path %></li>
    <li><%= link_to "Schedule", schedule_path %></li>
    <li><%= link_to "Wedding Attire (Garb)", garb_path %></li>
    <li><%= link_to "Location Info", location_path%></li>
    <li><%= link_to "Event Food", food_path %></li>
    <li><%= link_to "Wedding Party", party_path %></li>
    <li><%= link_to "Where can you stay in the area?", stay_path %></li>
    <li><%= link_to "Who Can You Contact", contact_path %></li>
    <li><%= link_to "Gift Registry", gift_path %></li>
    <li><%= link_to "Fun Facts", fact_path%></li>

  </ul>
</aside>