<!-- 
  This is a menu across the top
<ul class="nav nav-tabs nav-stacked">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Directions", directions_path %></li>
  <li><%= link_to "RSVP", response_path %></li>
  <li><%= link_to "garb", garb_path %></li>
  <li><%= link_to "Where Should You Stay", stay_path %></li>
</ul>
 -->
<!-- Sidebar -->
<aside id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%= link_to "Wedding Party", root_path %></li>
    <li><%= link_to "Directions", directions_path %></li>
    <li><%= link_to "RSVP", response_path %></li>
    <li><%= link_to "Garb", garb_path %></li>
    <li><%= link_to "Where Should You Stay", stay_path %></li>
  </ul>
</aside>