<!-- Sidebar -->
<aside id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><%= link_to "Home Page", root_path %></li>
    <li><%= link_to "Directions", directions_path %></li>
   <!-- Link to the rsvp page commented out in routes -->
    <li><%= link_to "Schedule", schedule_path %></li>
    <li><%= link_to "Wedding Attire (Garb)", garb_path %></li>
    <li><%= link_to "Location Info", location_path%></li>
    <li><%= link_to "Event Food", food_path %></li>
    <li><%= link_to "Wedding Party", party_path %></li>
    <li><%= link_to "Where Should You Stay", stay_path %></li>
    <li><%= link_to "Who Can You Contact", contact_path %></li>
    <li><%= link_to "Gift Registry", gift_path %></li>
    <li><%= link_to "Fun Facts", fact_path%></li>

  </ul>
</aside>