<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body class='wordWeddingWrapper discoVikingFont'>
    <%= render 'layouts/sideBar' %>
<!-- render partial: "layouts/flash_messages", flash: flash %>  is you want to use this remember the < %= at the start-->
    <%= yield %>
  </body>
</html>
